* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Satoshi', sans-serif;
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

@media (min-width: 0px) {
  body {
    overflow-x: hidden;
    position: relative;
  }
  .hamburger {
    z-index: 9999;
  }
  header {
    position: absolute;
    z-index: 9999;
    width: 100vw;
  }
  header .is-active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    z-index: 9999;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0;
    padding: 0.5em;
    width: 100%;
    height: 10vh;
  }
  header nav p {
    color: black;
    font-size: 1.2em;
  }
  header nav .logo-wrapper {
    position: absolute;
    left: 1rem;
    top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .logo-wrapper img {
    width: 5rem;
  }
  header nav .nav-links {
    margin: 0;
    position: fixed;
    z-index: 100;
    right: 0px;
    height: 100vh;
    width: 80%;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
    background-color: #2d2d2d;
    list-style: none;
    padding: 2rem;
  }
  header nav .nav-links li {
    opacity: 1;
    padding: .5em 1em;
    text-align: center;
    font-weight: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.3em;
    position: relative;
    text-transform: uppercase;
    overflow: hidden;
  }
  header nav .nav-links li a {
    color: white;
    text-decoration: none;
  }
  header nav .nav-links li::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: white;
    bottom: 0;
    position: absolute;
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%);
  }
  header nav .nav-links li:hover::after {
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  header nav .nav-links li:nth-child(1) {
    margin-top: -3em;
  }
  header nav .nav-links.is-active {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  header nav .nav-links .social-media {
    position: absolute;
    left: 1rem;
    top: 45%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav .nav-links .social-media img {
    width: 1.5rem;
    margin-bottom: 1rem;
  }
  header .navlinks-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    background: rgba(0, 0, 0, 0.4);
    z-index: 99;
  }
  header .navlinks-overlay.is-active {
    -webkit-transform: translate(0%);
            transform: translate(0%);
    -webkit-animation: fadeIn 0.5s ease-in;
            animation: fadeIn 0.5s ease-in;
  }
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@media (min-width: 768px) {
  header nav {
    height: 10vh;
    padding: 0.5em;
    width: 100%;
  }
  header nav .nav-links li {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .hamburger {
    display: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  header {
    z-index: 5;
    position: absolute;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
    width: 100vw;
  }
  header .is-active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    z-index: 100;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0 1em;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
  }
  header nav .logo-wrapper img {
    width: 5rem;
  }
  header nav .nav-links {
    margin: 0;
    position: relative;
    right: unset;
    height: auto;
    top: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: unset;
            transform: unset;
    -webkit-transition: unset;
    transition: unset;
    background-color: transparent;
    list-style: none;
    width: auto;
  }
  header nav .nav-links li {
    opacity: 1;
    padding: .5em;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: 0.875rem;
  }
  header nav .nav-links li:nth-child(1) {
    margin-top: 0em;
    border-bottom: none;
  }
  header nav .nav-links .social-media {
    display: none;
  }
}

@media (min-width: 1200px) {
  header {
    z-index: 5;
    position: absolute;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
    width: 100vw;
  }
  header .is-active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    z-index: 100;
  }
  header nav .logo-wrapper {
    left: 2rem;
    top: 1rem;
  }
  header nav .logo-wrapper img {
    width: 5rem;
  }
}

/* burger css */
.hamburger {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: inherit;
  background-color: transparent;
  border: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger .hamburger-inner {
  width: 30px;
  height: 2px;
  position: absolute;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.hamburger .hamburger-inner::before, .hamburger .hamburger-inner::after {
  content: '';
  content: '';
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.hamburger .hamburger-inner:before {
  -webkit-transform: rotate(0deg) translate(0px, -4px);
          transform: rotate(0deg) translate(0px, -4px);
}

.hamburger .hamburger-inner:after {
  -webkit-transform: rotate(0deg) translate(0px, 4px);
          transform: rotate(0deg) translate(0px, 4px);
}

.hamburger.is-active .hamburger-inner::before {
  -webkit-transform: rotate(-45deg) translate(0px, 0px);
          transform: rotate(-45deg) translate(0px, 0px);
}

.hamburger.is-active .hamburger-inner::after {
  -webkit-transform: rotate(45deg) translate(0px, 0px);
          transform: rotate(45deg) translate(0px, 0px);
}

@media (min-width: 0em) {
  footer {
    width: 100%;
    background: #2d2d2d;
    padding-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 9000;
    position: relative;
  }
  footer .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(270px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    place-items: center;
    color: white;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    grid-gap: 1rem;
    margin: auto;
    margin-bottom: 1rem;
  }
  footer .container .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 0 1rem;
    font-weight: lighter;
    width: 100%;
  }
  footer .container .col p {
    color: #ced4da;
    font-size: 14px;
  }
  footer .container .col h2 {
    margin-bottom: 1rem;
    font-weight: lighter;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
  }
  footer .container .col ul {
    list-style: none;
  }
  footer .container .col ul li {
    margin-bottom: 0.5rem;
    color: #ced4da;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .container .col ul a {
    color: #ced4da;
    text-decoration: none;
    font-size: 14px;
  }
  footer .container .col img {
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    opacity: 60%;
  }
  footer .container .col .business-hours li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .site-credit {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  footer .site-credit img {
    width: 4rem;
    margin-bottom: 1rem;
  }
  footer .site-credit p {
    text-transform: uppercase;
    color: #ced4da;
    font-size: 14px;
  }
  footer .site-credit a {
    color: #fff;
    text-decoration: none;
  }
}

@media (min-width: 1024px) {
  footer {
    padding-top: 2rem;
    font-size: 0.875rem;
  }
  footer .container {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.btn {
  cursor: pointer;
  padding: 15px 30px;
  background-color: #2d2d2d;
  border: 0;
  color: white;
  text-decoration: none;
  margin: 0.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn:hover {
  opacity: .8;
}

.btn-primary {
  background-color: #2d2d2d;
}

.btn-success {
  background-color: #5aa26e;
}

.btn-danger {
  background-color: #ef2e2d;
}

.btn-info {
  background-color: #0dcaf0;
}

.btn-warning {
  background-color: #ffc107;
  color: black;
}

.btn-secondary {
  background-color: #ef2e2d;
}

.btn-dark {
  background-color: #212529;
}

.btn-light {
  background-color: #f8f9fa;
  color: black;
}

.standard-icon {
  width: 2em;
  height: 2em;
  margin-right: 1em;
}

body.dark-mode {
  color: white;
  background-color: black;
}

body.dark-mode .theme-toggle {
  color: white;
  background-color: grey;
}

@media (min-width: 0em) {
  #landing {
    min-height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(/assets/paidimg01.jpg) center/cover;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/assets/paidimg01.jpg) center/cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #landing .container {
    width: 100%;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
    text-align: center;
  }
  #landing .container h1 {
    color: white;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    text-transform: uppercase;
  }
  #landing .container p {
    color: #ced4da;
  }
  #landing .container .ctas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #intro-collection .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(270px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 1rem;
    margin: auto;
    padding: 1rem;
  }
  #intro-collection .container .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #intro-collection .container .item .head {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: .2rem;
    max-height: 300px;
  }
  #intro-collection .container .item .head img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #intro-collection .container .item a {
    color: #ced4da;
    text-decoration: none;
    font-size: 0.7rem;
  }
  #intro-collection .container .item p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  #intro-collection .container .item a.btn {
    background-color: black;
    margin: 0;
  }
}
/*# sourceMappingURL=main.css.map */